@use '../../styles/mixins.scss' as *;

.modalOverlay {
	@include modal-overlay;
}

.modalContent {
	@include modal-content;
	min-width: 200px;
	max-width: 95vw;
	width: 100%;
	padding: 2rem 1.5rem 1.5rem 1.5rem;
}
