.vsStatusBar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 16px;
	margin-bottom: 16px;
}
.vsStatusAvatar {
	width: 32px;
	height: 32px;
	border-radius: 50%;
}
.vsStatusUsername {
	font-weight: 700;
}
.vsStatusGroups {
	margin-left: 8px;
}
.vsStatusMistakes {
	margin-left: 8px;
}
.vsStatusTimer {
	font-weight: 700;
	font-size: 18px;
}
.vsStatusEmoteBtn {
	margin-left: 8px;
	font-size: 20px;
	background: none;
	border: none;
	cursor: pointer;
}
