.themeSelectorContainer {
	display: flex;
	align-items: center;
	gap: 12px;
}
.themeSelectorLabel {
	font-size: 1rem;
}
.themeSelectorSelect {
	font-size: 1rem;
	padding: 6px 12px;
	border-radius: 6px;
	border: 1px solid #e0e7ef;
}
